<h1>Sign In</h1>

<form action="/users" method="post">
  <input type ="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username</label>
  <input id="Username" type="text" name="user[username]">

  <label>Password</label>
  <input id="Password" type="password" name="user[password]">

  <input type="submit" value="Sign In">
</form>
