.content {
  margin: 0 auto;
  background: white;
  width: 900px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.content-sidebar {
  float: left;
  width: 200px;
  padding: 20px;
}

.content-main {
  float:left;
  width: 620px;
  padding: 20px;
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.content p {

}
