
.footer {
  width: 900px;
  margin: 0 auto 50px auto;
  background: white;
  color: #aaa;
  font-size: 14px;
  border-left: 1 px solid gray;
  border-right: 1 px solid gray;
  border-bottom: 1 px solid gray;
}

.footer-copy {
  padding: 20px;
  float: left;
}

.footer-links {
  padding: 20px;
  float: right;
}

.footer-links > li {
  float: left;
  padding: 0 0 0 20px;
}

.footer a {
  display: block;
}

.footer a:hover {
  color: black;
}
