<h1>Sign Up</h1>

<form action="/users" method="post">
  <input type ="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username
    <input id="Username" type="text" name="user[username]">
  </label>
  <label>Password
    <input id="Password" type="password" name="user[password]">
  </label>
  <input type="submit" value="Sign Up">
</form>
